body{
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsl(0, 0%, 94%);
    width: 100%;
    height: 900px;
    font-size: 32px;
    font-family: "Poppins";
    .div{
        width: 800px;
        height: 700px;
        background: hsl(0, 0%, 100%);
        border-radius: 50px;
        border-bottom-right-radius: 300px;
        form{
            border-bottom: 2px solid hsl(0, 0%, 86%);
            width: 70%;
            height: 130px;
            margin: 50px 0px 50px 50px;
            padding: 0px;
            .container{
                width: 100%;
                height: 100%;
                margin: 0px;
                display: -ms-grid;
                display: grid;
                grid-template-columns: 33% 33% 33%;
                span{
                    color: hsl(0, 100%, 67%);
                    font-size: 12px;
                    position: relative;
                    top: -15px;
                    font-style: italic;
                    font-weight: bold;
                    padding: 0px;
                }
                #span1, #span2, #span3{
                    margin: 0px;
                    margin-right: 60px;
                }
            }
        }
        input{
            width: 60%;
            height: 50px;
            margin: 0px;
            padding-left: 20px;
            padding-right: 20px;
            border-radius: 10px;
            box-shadow: none;
            border: 1.5px solid hsl(0, 1%, 44%);
            font-size: 30px;
            font-weight: bold;
            appearance: none;
            &:focus{
                outline: none;
                border: 2px solid hsl(259, 100%, 65%);
            }
            &::-webkit-outer-spin-button,input::-webkit-inner-spin-button {
                margin: 0;
                appearance: none;
            }
        }
        label{
            outline: none;
            position: absolute;   
            color: hsl(0, 1%, 44%);
        }
    }
}
#submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
    border-radius: 75px;
    position: relative;
    float: right;
    top: -90px;
    left: -115px;
    background-color: hsl(259, 100%, 65%);
    border: rgba(255, 255, 255, 0);
    padding: 0px;
    &:hover{
        background-color: hsl(0, 0%, 8%);
    }
}
/*.day, .month, .year{
    display: inline;
    margin: 0px;
} 
.month{
    position: relative;
    top: -55px;
    left: 170px;
    margin: 0px;
}
.year{
    position: relative;
    top: -110px;
    left: 340px;
    margin: 0px;
}*/

#h-months, #h-years, #h-days{
    font-size: 15px;
    margin: 0px;
    font-weight: bold;
    top: 175px;
}

p span{
    font-size: 130px;
    color: hsl(259, 100%, 65%);
}
p {
    font-size: 120px;
    line-height: 0px;
    margin-left: 50px;
    font-weight: bold;
}
@media screen and (max-width:817px) {
    /*body{
        width: 817px;
    }
    div{
        height: 600px;
    }*/
    p {
        font-size: 110px;
        span{
            font-size: 120px;
        }
    }
    #submit{
        float: left;
        left: 40%;
        top: -75px;
    }
}
@media screen and (max-width:511px) {
    body{
        width: 511px;
    }
    p {
        font-size: 80px;
        span{
            font-size: 85px;
        }
    }
    #submit{
        float: left;
        left: 200px;
        top: -75px;
    }
}